<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Intensify by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
		<!--bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        /* .row div{padding: 20px 10px; border: 1px solid;} */
    </style>

	</head>
	<body class="subpage">



		<!-- Header -->
		<header id="header">
			 <nav class="left">
					<a href="#menu"><span>Menu</span></a>
			 </nav>
			 <a href="index.html" class="logo"><font size ="20em">NutriViser</font></a>
			 <nav class="right">

			 </nav>
		</header>


		<!-- Add icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index (2).html">About Us</a></li>
					<li><a href="form.html">건강분석</a></li>
					<li><a href="generic.html">제품선택</a></li>
					<li><a href="elements.html">구독신청</a></li>
					<li><a href="elements.html">복용관리</a></li>
					<li><a href="elements.html">리뷰공유</a></li>
					<li><a href="elements.html">고객센터</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="#" class="button fit">Login</a></li>
				</ul>
			</nav>



		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>제품선택</h1>
						<p>-<br />당신에게 필요한 제품을 선택해보세요!</p>
					</header>
				</div>
			</section>



		<!--비글 -->
  	<div class="container text-muted">


			<div class="row">
					<div class="col-md-6 col-lg-3">
							<div class="card">
									<img class="card-img-top img-fluid" src="https://d3t32hsnjxo7q6.cloudfront.net/i/9ba8aa8180986a5ded7877722db09aed.png"> </a>
									<div class="card-body">
											<a href="구독신청.html"><h3 class="card-title">Herbaland Calcium gummy </h3></a>
											<p class="card-text">ReviewReviewReviewReviewReviewReviewReviewReviewReviewReviewReviewRevie</p>
									</div>
							</div>
					</div>
					<div class="col-md-6 col-lg-3">
							<div class="card">
									<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKdN2nYQyiRLHgHle8PB1rEUpU5NglaP-6sGYe2d49Sd9OwlwS">
									<div class="card-body">
											<h3 class="card-title">Dr.Doni's Stress Support</h3>
											<p class="card-text">낮에는 따사로운 인간적인 여자 커피 한잔의 여유를 아는 품격 있는 여자 밤이 오면 심장이 뜨거워지는 여자 그런 반전 있는 여자</p>
									</div>
							</div>
					</div>
					<div class="col-md-6 col-lg-3">
							<div class="card">
									<img class="card-img-top img-fluid" src="https://supremenaturalhealth.com.au/wp-content/uploads/2016/10/Thinco_Product_DietCaps50-double-new-2-400x400.png">
									<div class="card-body">
											<h3 class="card-title">Thinkco</h3>
											<p class="card-text">낮에는 따사로운 인간적인 여자 커피 한잔의 여유를 아는 품격 있는 여자 밤이 오면 심장이 뜨거워지는 여자 그런 반전 있는 여자</p>
									</div>
							</div>
					</div>
					<div class="col-md-6 col-lg-3">
							<div class="card">
									<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5AjX9Uu7VJFEf8_mgTvz_qd8MBR0rTrqErAwNrFq3AL6-0nrGZw">
									<div class="card-body">
											<h3 class="card-title">Smarty Pants Gummy</h3>
											<p class="card-text">낮에는 따사로운 인간적인 여자 커피 한잔의 여유를 아는 품격 있는 여자 밤이 오면 심장이 뜨거워지는 여자 그런 반전 있는 여자</p>
									</div>
							</div>
					</div>
					<div class="col-md-6 col-lg-3">
							<div class="card">
									<img class="card-img-top img-fluid" src="http://image.kyobobook.co.kr/newimages/giftshop_new/goods/400/1423/hot1502344912877.jpg"> </a>
									<div class="card-body">
											<h3 class="card-title">Weeny Beeny</h3>
											<p class="card-text">낮에는 따사로운 인간적인 여자 커피 한잔의 여유를 아는 품격 있는 여자 밤이 오면 심장이 뜨거워지는 여자 그런 반전 있는 여자</p>
									</div>
							</div>
					</div>
					<div class="col-md-6 col-lg-3">
							<div class="card">
									<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYAG8SFKR81omVqELZL8-Nd-Q02nU_n_HFnUC_Qww0kKmsgk2F">
									<div class="card-body">
											<h3 class="card-title">Vitamin C 20%</h3>
											<p class="card-text">낮에는 따사로운 인간적인 여자 커피 한잔의 여유를 아는 품격 있는 여자 밤이 오면 심장이 뜨거워지는 여자 그런 반전 있는 여자</p>
									</div>
							</div>
					</div>
					<div class="col-md-6 col-lg-3">
							<div class="card">
									<img class="card-img-top img-fluid" src="https://www.gettrusupps.com/wp-content/uploads/2015/09/trubu-400x400.jpg">
									<div class="card-body">
											<h3 class="card-title">Pregnancy Safe Bundle</h3>
											<p class="card-text">낮에는 따사로운 인간적인 여자 커피 한잔의 여유를 아는 품격 있는 여자 밤이 오면 심장이 뜨거워지는 여자 그런 반전 있는 여자</p>
									</div>
							</div>
					</div>
					<div class="col-md-6 col-lg-3">
							<div class="card">
									<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpl782UUNL357P2bmOm_I4woXukwvEBlSzjmPsC_Av78u8R7AAwg">
									<div class="card-body">
											<h3 class="card-title">Frontier</h3>
											<p class="card-text">낮에는 따사로운 인간적인 여자 커피 한잔의 여유를 아는 품격 있는 여자 밤이 오면 심장이 뜨거워지는 여자 그런 반전 있는 여자</p>
									</div>
							</div>
					</div>

	 </div>
</div>

<div class="inner">
	<header class="align-center">
		<h1>.</h1>
		<p>-<br />-</p>
	</header>
</div>


			<!-- Main2
			<%- include('includes/header'); -%>
			<%- include('includes/nav'); -%>

			<div class="container">

			<% if (news) { %>
			  <div class="row">
			    <div class="col">
			      <h1><%= news.title %></h1>
			      <h5>분류: <%= news.category_title %> / 기자: <%= news.author %></h5>
			      <p>
			        입력: <%= moment(news.inserted).format('YYYY-MM-DD h:mm:ss a') %>
			        <% if (news.updated) { %>/ 수정: <%= moment(news.updated).format('YYYY-MM-DD h:mm:ss a') %><% } %>
			      </p>
			      <hr>
			    </div>
			  </div>

			  <div class="row">
			    <div class="col" style="white-space: pre-line;">
			      <%- news.desc %>
			    </div>
			    <div class="col">
			      <% if (typeof news.upload !== 'undefined' && news.upload) { %>
			        <img src="/uploads/<%= news.upload %>">
			      <% } %>
			    </div>
			  </div>

			  <ul>
			    <% for (var i=0; i<comment.length; i++){ %>
			      <li><%= comment[i].comment %> /
			        <%= moment(comment[i].inserted).format('YYYY-MM-DD h:mm:ss a') %></li>
			    <% } %>
			  </ul>

			<form method="post" action="/news/comment">
			  <input type="hidden" name="article_id" value="<%=news.id %>">
			  <textarea name="comment"></textarea>
			  <input type="submit" value="댓글달기">
			</form>




			  <div class="row">
			      <div class="col">
			        <hr>
			      </div>
			  </div>

			  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">

			    <div class="btn-group" role="group" aria-label="First group">
			      <a href="/news/<%= news.id %>/edit" class="btn btn-outline-primary">수정</a>
			      <a href="/news/<%= news.id %>/delete" class="btn btn-outline-secondary">삭제</a>
			    </div>
			    <div class="input-group">
			      <a href="/news/" class="btn btn-outline-info">목록</a>
			    </div>
			  </div>
			<% } else { %>
			  <p>Not exist</p>
			<% } %>

			</div>
			<%- include('includes/footer'); -%>-->


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
