
  <div id="header">
    <h1>
      <a class="nav-link" href="/"><b><font color="white">READY FOR SEOUL</b></a>
    </h1>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <% if(locals.user && locals.user.isAdmin == 1) { %>
        <li class="nav-item active">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      <% } %>
    </ul>

    <% if(locals.user) { %>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item">
        <a class="nav-item nav-link mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= locals.user.email %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-light my-2 my-sm-0" href="/account/logout">Logout</a>
      </li>
    </ul>
    <% } else { %>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="nav-link btn btn-light my-2 my-sm-0" href="/account/login">Login</a>
      <a class="nav-link btn btn-outline-light my-2 my-sm-0" href="/account/signup">Sign up</a>
    </div>
    <% } %>
  </div>
</nav>
