<%- include('includes/header'); -%>
<%- include('includes/nav'); -%>


    <div class="form-group">
      <label for="inputDesc">Description</label>
      <textarea name="desc" rows="8" cols="80" class="form-control" id="inputDesc"></textarea>
      <small id="descHelp" class="form-text text-muted">내용을 입력해주세요.</small>
    </div>
    
    <button type="submit" class="btn btn-primary">작성하기</button>
    <a href="/news" class="btn btn-secondary">취소</a>
  </form>
</div>
<%- include('includes/footer'); -%>

